<template>
  <div>
    <vue-cal style="height: 250px" :locale="th"/>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
export default {
  data () {
    return {}
  },
  computed: {
    th () {
      return th // มัน link กันและก็ return กลับไป
    }

  },
  components: {
    VueCal
  }
}
</script>

<style>

</style>
